name: Commit Raw Results

on:
  push:
    branches:
      - test-machine
    paths:
      - "results/raw_results/**/*.csv"
      - "results/raw_results/**/*.txt"
      - "results/perf_results/**/*.csv"

jobs:
  commit-raw-results:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Fetch the results branch
        run: git fetch origin results-plots-auto:results-plots-auto

      - name: Commit raw results to results-plots-auto branch
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "ci: Add latest benchmark raw results"
          branch: results-plots-auto
          file_pattern: |
            results/raw_results/**/*.csv
            results/raw_results/**/*.txt
            results/perf_results/**/*.csv
          repository: .
          push_options: "--force"
