name: Commit Raw Results

on:
  push:
    branches:
      - test-machine
    paths:
      - "results/raw_results/**/*.csv"
      - "results/raw_results/**/*.txt"
      - "results/perf_results/**/*.csv"

jobs:
  commit-raw-results:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout target branch
        uses: actions/checkout@v4
        with:
          ref: results-plots-auto

      - name: Get results from test-machine branch
        run: |
          git fetch origin test-machine
          git checkout origin/test-machine -- results/raw_results/ results/perf_results/

      - name: Commit new results
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "ci: Add latest benchmark results"
          branch: results-plots-auto
          file_pattern: "results/**/*.csv results/**/*.txt"
          push_options: "--force"
